body {
	font-family: Verdana;
	text-align: center;
	background-color: #B6C0D2;
	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
	color: #1C263C;
	
}

h1, h2, h3 {
  text-shadow: 0px 2px 3px rgba(255,255,255,0.7);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#search {
	display: inline-block;
	padding: none;
	margin: auto 0;
	height: 50px;
	font-size: 50px;
	width: 75%;
	text-align: center;
}

/*1C263C	313C53	455268	B6C0D2	9CFF00	FFFFFF*/

#button {
	background-color:  #9CFF00;
	padding-left: none;
	width: 20%;
	margin: 0 auto;
	border-radius: 10px;
}

input[type=submit] {
	background-color:  #9CFF00;
	border-radius: 10px;
}

input[type=text] {
	padding: 5px;
	margin: none;
	background-color: #6699FF;
	border-radius: 10px;
	border: none;

	box-shadow:inset 2px 2px 2px #333;
}